::-webkit-scrollbar{ width: 3px }
::-webkit-scrollbar-thumb{ background-color: rgba(0, 0, 0, .5) }
*{ font-family: 'Play' }
.bungee{ font-family: 'Bungee' }
.shadow{ box-shadow: 1px 5px 15px gray !important }
.text-primary{ color: steelblue !important }
a, a:hover{ text-decoration: none; cursor: pointer }
.bg-texture{ background-image: url('../img/bg.jpg'); background-attachment: fixed }
.bg-blue{ background-image: url('../img/bg-blue.jpg'); background-size: cover; background-attachment: fixed }